Repository kevinhust/CAA900, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jobquest-team, @project-maintainer, @backend-team, @senior-developer, @architect, @devops-team, @security-team, @frontend-team, @ui-ux-team, @ci-cd-team, @documentation-team, @project-manager, @database-admin, @release-manager

.github/CODEOWNERS:

# JobQuest Navigator - Code Owners
# This file defines who should review specific parts of the codebase

# Global owners - these users are requested for review on all changes
* @jobquest-team @project-maintainer

# Backend code
backend/ @backend-team @senior-developer
backend/core/ @backend-team @architect
backend/core/settings*.py @devops-team @security-team
backend/requirements*.txt @backend-team @security-team

# Frontend code
frontend/ @frontend-team @ui-ux-team
frontend/src/services/ @frontend-team @backend-team
frontend/package*.json @frontend-team @security-team

# Infrastructure and deployment
infrastructure/ @devops-team @architect
.github/workflows/ @devops-team @ci-cd-team
scripts/ @devops-team @backend-team
configs/ @devops-team @security-team

# Documentation
docs/ @documentation-team @project-manager
README.md @project-maintainer @documentation-team
*.md @documentation-team

# Security-sensitive files
.github/workflows/*.yml @security-team @devops-team
backend/core/security.py @security-team @senior-developer
infrastructure/terraform/modules/security/ @security-team @devops-team

# Database migrations
backend/*/migrations/ @backend-team @database-admin @architect

# Configuration and environment files
configs/environment.env @devops-team @security-team
terraform.tfvars* @devops-team @security-team
zappa_settings*.json @devops-team @backend-team

# Release and versioning
CHANGELOG.md @project-maintainer @release-manager
VERSION @project-maintainer @release-manager

Streamline GitHub Actions workflows for CAA900 deployment
  .github/workflows/test-environment-deploy.yml
  .github/workflows/workflow-status-reporter.yml
Owners: @security-team, @devops-team

Replace complex CI/CD with simplified AWS deployment workflow
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/deploy-simple.yml
Owners: @security-team, @devops-team

Update project name to v3 in production config
  JNv3/infrastructure/terraform/environments/production.tfvars
Owners: @devops-team, @architect

Fix duplicate Terraform backend configuration
  .github/workflows/deploy-simple.yml
  JNv3/infrastructure/terraform/main.tf
Owners: @security-team, @devops-team, @architect

Create simplified Terraform deployment for CAA900
  .github/workflows/deploy-simple.yml
  JNv3/infrastructure/terraform/simple-deployment.tf
Owners: @security-team, @devops-team, @architect

Move simple deployment to separate directory
  .github/workflows/deploy-simple.yml
  JNv3/infrastructure/simple-terraform/main.tf
Owners: @security-team, @devops-team, @architect

🎉 CAA900 AWS Production Deployment SUCCESS
  DEPLOYMENT_SUCCESS.md
Owners: @documentation-team

🚀 Deploy Complete JobQuest Navigator v3 Full-Stack Application
  .github/workflows/deploy-full-app.yml
  JNv3/infrastructure/simple-terraform/full-app-deployment.tf
  JNv3/infrastructure/terraform/modules/ecr/outputs.tf
  JNv3/infrastructure/terraform/modules/ecr/variables.tf
Owners: @security-team, @devops-team, @architect

upload the report and diagram
  .DS_Store
  .gitignore
  CAA900_Final_Report.md
  JNv3/infrastructure/terraform/backend.tf
  JNv3/infrastructure/terraform/dev.tfplan
  JNv3/infrastructure/terraform/environments/development.tfvars
  JNv3/infrastructure/terraform/main.tf
  JNv3/infrastructure/terraform/modules/alb/main.tf
  JNv3/infrastructure/terraform/modules/alb/outputs.tf
  JNv3/infrastructure/terraform/modules/alb/variables.tf
  JNv3/infrastructure/terraform/modules/cloudwatch/main.tf
  JNv3/infrastructure/terraform/modules/cloudwatch/outputs.tf
  JNv3/infrastructure/terraform/modules/cloudwatch/variables.tf
  JNv3/infrastructure/terraform/modules/ecs/main.tf
  JNv3/infrastructure/terraform/modules/ecs/outputs.tf
  JNv3/infrastructure/terraform/modules/ecs/variables.tf
  JNv3/infrastructure/terraform/modules/elasticache/main.tf
  JNv3/infrastructure/terraform/modules/elasticache/outputs.tf
  JNv3/infrastructure/terraform/modules/elasticache/variables.tf
  JNv3/infrastructure/terraform/modules/iam/outputs.tf
  JNv3/infrastructure/terraform/modules/iam/variables.tf
  JNv3/infrastructure/terraform/modules/s3/main.tf
  JNv3/infrastructure/terraform/outputs.tf
  JNv3/infrastructure/terraform/tfplan
  JNv3/infrastructure/terraform/tfplan-core
  JNv3/infrastructure/terraform/tfplan-final
  JNv3/infrastructure/terraform/tfplan-fixed
  docs/FINAL_PRESENTATION_SCRIPT.md
  docs/PPT_CONTENT_STRUCTURE.md
Owners: @jobquest-team, @project-maintainer, @documentation-team, @devops-team, @architect

upload the report and diagram
  JNv3/infrastructure/terraform/deploy-aws.sh
  JNv3/infrastructure/terraform/deployment-plan
  JNv3/infrastructure/terraform/dev-plan
  JNv3/infrastructure/terraform/environments/development.tfvars
  JNv3/infrastructure/terraform/focused-plan
  JNv3/infrastructure/terraform/main.tf
  JNv3/infrastructure/terraform/modules/ecs/main.tf
  JNv3/infrastructure/terraform/modules/rds/main.tf
  JNv3/infrastructure/terraform/modules/rds/outputs.tf
  JNv3/infrastructure/terraform/modules/security/main.tf
  JNv3/infrastructure/terraform/modules/security/outputs.tf
  JNv3/infrastructure/terraform/modules/vpc/main.tf
  JNv3/infrastructure/terraform/modules/vpc/outputs.tf
  JNv3/infrastructure/terraform/modules/vpc/variables.tf
  JNv3/infrastructure/terraform/vpc-fix.tfplan
Owners: @devops-team, @architect

doc update
  JNv3/infrastructure/simple-terraform/full-app-deployment.tf
  JNv3/infrastructure/simple-terraform/main.tf
Owners: @devops-team, @architect

Merge full-app deployment into main.tf and simplify to production-only environment
  .github/workflows/deploy-full-app.yml
  JNv3/infrastructure/simple-terraform/main.tf
Owners: @security-team, @devops-team, @architect

🧹 Optimize GitHub Actions Workflows - Production Focus
  .github/workflows/README.md
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-full-app.yml
  .github/workflows/deploy-simple.yml
  .github/workflows/manual-deploy.yml
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .github/workflows/security-comprehensive.yml
  .github/workflows/terraform-pr-check.yml
  JNv3/config/environments/environments/development.env
  JNv3/config/environments/environments/production.env
  JNv3/config/environments/environments/staging.env
  JNv3/infrastructure/simple-terraform/main.tf
Owners: @documentation-team, @security-team, @devops-team, @jobquest-team, @project-maintainer, @architect

Fix Terraform formatting and add variables/outputs files
  JNv3/infrastructure/terraform/deploy-aws.sh
  JNv3/infrastructure/terraform/main.tf
  JNv3/infrastructure/terraform/outputs.tf
  JNv3/infrastructure/terraform/tfbak/backend.tf
  JNv3/infrastructure/terraform/tfbak/main.tf
  JNv3/infrastructure/terraform/tfbak/modules/alb/main.tf
  JNv3/infrastructure/terraform/tfbak/modules/cloudwatch/main.tf
  JNv3/infrastructure/terraform/tfbak/modules/ecr/main.tf
  JNv3/infrastructure/terraform/tfbak/modules/ecs/main.tf
  JNv3/infrastructure/terraform/tfbak/modules/elasticache/main.tf
  JNv3/infrastructure/terraform/tfbak/modules/iam/main.tf
  JNv3/infrastructure/terraform/tfbak/modules/rds/main.tf
  JNv3/infrastructure/terraform/tfbak/modules/rds/outputs.tf
  JNv3/infrastructure/terraform/tfbak/modules/rds/variables.tf
  JNv3/infrastructure/terraform/tfbak/modules/s3/main.tf
  JNv3/infrastructure/terraform/tfbak/modules/s3/outputs.tf
  JNv3/infrastructure/terraform/tfbak/modules/s3/variables.tf
  JNv3/infrastructure/terraform/tfbak/modules/security/main.tf
  JNv3/infrastructure/terraform/tfbak/modules/security/outputs.tf
  JNv3/infrastructure/terraform/tfbak/modules/security/variables.tf
  JNv3/infrastructure/terraform/tfbak/modules/vpc/main.tf
  JNv3/infrastructure/terraform/tfbak/modules/vpc/outputs.tf
  JNv3/infrastructure/terraform/tfbak/modules/vpc/variables.tf
  JNv3/infrastructure/terraform/tfbak/outputs.tf
  JNv3/infrastructure/terraform/tfbak/variables.tf
  JNv3/infrastructure/terraform/tfplan
  JNv3/infrastructure/terraform/variables.tf
  JNv3/infrastructure/terraform/verify-backend.sh
Owners: @devops-team, @architect

Fix backend database driver issue
  JNv3/.github/workflows/deploy-to-aws.yml
  JNv3/apps/backend-fastapi/requirements.txt
  JNv3/fix_backend_env.py
  JNv3/fix_database_url.py
  JNv3/infrastructure/terraform/main.tf
  JNv3/infrastructure/terraform/variables.tf
  JNv3/update_manual_task_definitions.py
Owners: @jobquest-team, @project-maintainer, @devops-team, @architect

Fix Terraform formatting
  JNv3/infrastructure/terraform/variables.tf
Owners: @devops-team, @architect

Add SECRET_KEY environment variable to Terraform workflow
  .DS_Store
  .github/workflows/deploy-full-app.yml
Owners: @jobquest-team, @project-maintainer, @security-team, @devops-team

Trigger full deployment after Terraform infrastructure fix
  JNv3/DEPLOY_TRIGGER.md
  JNv3/fix_subnet_issue.py
  JNv3/monitor_terraform.py
Owners: @documentation-team, @jobquest-team, @project-maintainer

🚀 Complete JobQuest Navigator v3 deployment fixes
  .github/workflows/deploy-full-app.yml
  JNv3/direct_deploy.py
  JNv3/infrastructure/scripts/create-app-client.py
  JNv3/infrastructure/scripts/deploy.sh
  JNv3/infrastructure/scripts/dev-setup.sh
  JNv3/infrastructure/scripts/dev-start.sh
  JNv3/infrastructure/scripts/dev-stop.sh
  JNv3/infrastructure/scripts/setup-cognito.sh
  JNv3/infrastructure/scripts/test-cognito.py
  JNv3/infrastructure/scripts/test.sh
  JNv3/infrastructure/scripts/verify-cognito.py
  JNv3/infrastructure/scripts/verify-deployment.sh
  JNv3/infrastructure/terraform/main.tf
  JNv3/infrastructure/terraform/variables.tf
Owners: @security-team, @devops-team, @jobquest-team, @project-maintainer, @backend-team, @architect

Fix Terraform ECS service deployment configuration syntax
  JNv3/infrastructure/terraform/main.tf
Owners: @devops-team, @architect

Fix Terraform formatting - remove trailing whitespace
  JNv3/infrastructure/terraform/main.tf
Owners: @devops-team, @architect

🚀 Add complete GitHub Actions deployment workflow
  .github/workflows/deploy-complete-app.yml
  JNv3/DEPLOYMENT.md
  JNv3/infrastructure/scripts/generate-db-password.py
  JNv3/infrastructure/scripts/pre-deployment-check.sh
  JNv3/infrastructure/terraform/variables.tf
Owners: @security-team, @devops-team, @documentation-team, @backend-team, @architect

Fix PostgreSQL version compatibility issue
  JNv3/infrastructure/terraform/variables.tf
Owners: @devops-team, @architect
